.card {
  box-sizing: border-box;
  background: $color-white;
  border: 1px solid $color-light-grey;
  border-radius: 5px;
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  &__title {
    font-family: $font-main;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark;
    transition: color 0.3s ease;
  }

  &__image {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__buy {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: auto;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 10;

    .card__title {
      color: #34568b;
    }
  }
}
